.title-main {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-base);
}

.text-interactive {
  font-weight: var(--font-weight-interactive);
}

.text-jp {
  font-family: var(--font-family-jp);
  font-size: var(--font-size-jp-base);
  line-height: var(--line-height-jp);
}

.top-page-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}