// Colors
$primary-base: #b31603;
$primary-light: #ca4400;

$secondary-base: #95275b;
$secondary-light: #eaafd6;
$secondary-lightest: #e7dfe5;

$default-base: #e9e5ed;
$default-dark: #aaa1ad;
$default-darker: #3d2c43;
$default-lightest: #fff;
$default-darkest: #000;

// Fonts
$font-family-base: 'Assistant', 'Noto Sans', 'Segoe UI', sans-serif;
$font-family-jp: 'Noto Serif JP', sans-serif;

$font-size-base: 1rem;
$font-size-jp-base: 1.25rem;
$font-size-title: 2.5rem;

$font-weight-base: 400;
$font-weight-interactive: 600;

$font-color: $default-darkest;
$font-color-reverse: $default-lightest;
$font-color-accented: $secondary-base;

$line-height-jp: 1;

// Animations
$transition-duration-base: 0.32s;
$transition-timing-function-base: ease-out;
$transition-timing-function-bounce: cubic-bezier(0.4, -0.8, 0.5, 1);
$transition-properties-base: $transition-duration-base $transition-timing-function-base;
