$primary-base: #B31603;
$primary-light: #CA4400;

$secondary-base: #95275B;
$secondary-light: #EAAFD6;

$default-base: #EBEFF3;
$default-light: #F5EFF2;
$default-dark: #BAC7D5;
$default-darker: #181A41;
$default-lightest: #FFF;
$default-darkest: #000;